/temp
/tmp
/*tmp
/*temp
/modules
.dockerignore
.gitignore
*.csv
Dockerfile
/tool
/test
/t
/proxy_temp
/kits
/bins
/logs
/conf/tmp*.conf
/conf/letsencrypt/*
/conf/dnsrobocert/config.yml
/lua/*_local.lua
/lua/gallery
/lua/rbac
/lua/configs/*_local.lua
/compose
/sbin
/dist
/modules
/build
/site/manifest
/site/pub
/site/pod
/site/*.*
/site/envsubst
/site/placeholder
#/site/include/*.ttf
#/site/include/*.otf
# /site/lualib/libvips.so
/bin
/*.*
/ffi
/lua/env_local.lua
/orap
/data/kvrocks/*
/data/redis/*
/data/cache/*
