/build
/sbin
/temp
/tmp
/*tmp
/*temp
/COPYRIGHT
/*.dll
/*.exe
/on
/*.txt
/resty*
/lualib
/modules
/lib/*.so
/*.jpg
/*.pdf
*.lock
*.db
/kit/*.txt
/*.so
/conf/bak
/conf/tmp*.conf
*.bak
/include
*.log
*.zip

*.pid
*.o
*.csv
*.bin
*.tar.*
*.DS_Store
/.vscode
/.idea/
*.idea
/nginx/logs/*
